<div class="card">
    <div class="card-header">
        <h5>{{ 'HEADER_EDIT_PROFILE'|translate }}</h5>
    </div>
    <div class="card-divider"></div>
    <div class="card-body card-body--padding--2">
        <div class="row no-gutters">
            <div class="col-12 col-lg-7 col-xl-6" [formGroup]="form">
                <div class="form-group">
                    <label for="profile-first-name">{{ 'INPUT_FIRST_NAME_LABEL'|translate }}</label>
                    <input
                        type="text"
                        id="profile-first-name"
                        formControlName="firstName"
                        class="form-control"
                        [class.is-invalid]="form.controls['firstName']|isInvalid"
                        [placeholder]="'INPUT_FIRST_NAME_PLACEHOLDER'|translate"
                    >
                    <div class="invalid-feedback">
                        <div *ngIf="form.controls['firstName']|hasError:'required'">
                            {{ 'ERROR_FORM_REQUIRED'|translate }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="profile-last-name">{{ 'INPUT_LAST_NAME_LABEL'|translate }}</label>
                    <input
                        type="text"
                        id="profile-last-name"
                        formControlName="lastName"
                        class="form-control"
                        [class.is-invalid]="form.controls['lastName']|isInvalid"
                        [placeholder]="'INPUT_LAST_NAME_PLACEHOLDER'|translate"
                    >
                    <div class="invalid-feedback">
                        <div *ngIf="form.controls['lastName']|hasError:'required'">
                            {{ 'ERROR_FORM_REQUIRED'|translate }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="profile-email">{{ 'INPUT_EMAIL_ADDRESS_LABEL'|translate }}</label>
                    <input
                        type="email"
                        id="profile-email"
                        formControlName="email"
                        class="form-control"
                        [class.is-invalid]="form.controls['email']|isInvalid"
                        [placeholder]="'INPUT_EMAIL_ADDRESS_PLACEHOLDER'|translate"
                    >
                    <div class="invalid-feedback">
                        <div *ngIf="form.controls['email']|hasError:'required'">
                            {{ 'ERROR_FORM_REQUIRED'|translate }}
                        </div>
                        <div *ngIf="form.controls['email']|hasError:'email'">
                            {{ 'ERROR_FORM_INCORRECT_EMAIL'|translate }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="profile-phone">{{ 'INPUT_PHONE_NUMBER_LABEL'|translate }}</label>
                    <input
                        type="text"
                        id="profile-phone"
                        formControlName="phone"
                        class="form-control"
                        [class.is-invalid]="form.controls['phone']|isInvalid"
                        [placeholder]="'INPUT_PHONE_NUMBER_PLACEHOLDER'|translate"
                    >
                    <div class="invalid-feedback">
                        <div *ngIf="form.controls['phone']|hasError:'required'">
                            {{ 'ERROR_FORM_REQUIRED'|translate }}
                        </div>
                    </div>
                </div>

                <div class="form-group mb-0">
                    <button
                        class="btn btn-primary mt-3"
                        [class.btn-loading]="saveInProgress"
                        (click)="save()"
                    >
                        {{ 'BUTTON_SAVE'|translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
